body
{
    background-color: orange;
    font-family: 'Roboto Mono', monospace;
}
.topDiv
{
    color: purple;
    background-color: pink;
}
p
{
    font-size: medium;
    color: purple;
 letter-spacing: 2px;
}
button
{
    margin-top: 30px;
    width: 200px;
    letter-spacing: 2px;
    color: purple;
    background-color: pink;
}
.bottomDiv
{
    background-color: pink;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    color: purple;
    line-height: 3;
}